// Add Option Error
.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 16px;
    margin: 16px 0 0 0;
}

// Add-Option
.add-option {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.add-option__input {
    background-color: $dark-blue;
    border: none;
    color: $off-white;
    padding: 12px 12px;
    border-bottom: 3px solid darken($color: $dark-blue, $amount: 10%);
    flex-grow: 1;
    margin: 0 0 16px 0;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 8px 0px 0px;
    }
}