// Big Button
.big-button {
    background-color: $purple;
    border: none;
    border-bottom: 6px solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
    padding: 24px;
    margin-bottom: 64px;
}

.big-button:disabled {
    opacity: .5;
}

// Button
.button {
    background-color: $purple;
    border: 0;
    border-bottom: 3px solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: 12px;
}

.button--link {
    background-color: transparent;
    border: none;
    color: $off-white;
    padding: 0;
}