.header {
    background: $off-black;
    color: white;
    margin-bottom: 16px;
    padding: 16px 0px;
}

.header__title {
    font-size: 3.2rem;
    margin: 0px;
}

.header__subtitle {
    font-size: 1.6rem;
    color: $off-white;
    font-weight: 500;
    margin: 0px;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: 32px;
    }
}