.ReactModalPortal > div {
    opacity: 0
}

.ReactModalPortal .ReactModal__Overlay {
    justify-content: center;
    align-items: center;
    display: flex;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $light-blue;
    color: white;
    max-width: 300px;
    outline: none;
    padding: 32px;
    text-align: center;
}

.modal__title {
    margin: 0 0 32px 0;
    word-break: break-all;
}

.modal__body {
    margin: 0 0 32px 0;
    word-break: break-all;
    font-size: 20px;
    font-weight: 300;
}