.option {
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
    display: flex;
    justify-content: space-between;
    padding: 32px 16px;
}

.option__text {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0px;
    word-break: break-all;
}