// Widget
.widget {
    background-color: $light-blue;
    margin-bottom: 60px;
}

.widget__message {
    color: $off-white;
    margin: 0;
    padding: 32px;
    text-align: center;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
}

// Widget Header
.widget-header {
    background-color: $blue;
    color: $off-white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0px;
}